.docked {
	display: flex;
	flex-direction: row;

	.main {
		flex-grow: 1;
		min-width: 0;
		display: flex;

		> * {
			flex-grow: 1;
		}
	}
}

.container {
	overflow: hidden;
}

.snap {
	display: grid;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;

	scrollbar-width: none;
	scrollbar-color: transparent;

	&::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
}

.snap > div {
	scroll-snap-align: center;
}

.snap > div:nth-child(2) {
	scroll-snap-stop: always;
}

.nav {
	z-index: 1;
	position: relative;
	pointer-events: none;
}

.nav > div {
	display: flex;
	position: absolute;
	flex-direction: column-reverse;
}

.nav > div > div {
	pointer-events: all;
}
